.container{
    text-align: -webkit-center;
    vertical-align: -webkit-baseline-middle;
    background: radial-gradient(circle, rgba(33,59,97,1) 50%, rgba(9,16,28,1) 100%) !important;    
    padding: 0 3rem;
    width: auto;
    height: 100vh;
    &__row{
        justify-content: center;
    }
}