.card{
    position: relative;
    top: 25vh;
    border-radius: 33px !important;
    border-color: black !important;
    &__header{
        // border: none !important;
        background-color: #14253D !important;
    }
    &__form{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        &__container{
            text-align: center;
        }
        &__button{
            width: 80%;
        }
    }
}