.backgroundcolor{
    background: #ffffff;
}
.title{
    background: #ffffff;
    text-align: center;
    padding-top: 2%;
}

.image{
    width: 600px;
    @media (max-width: 768px) {
        width: 232px;
    }
}