.backgroundcolor{
    background: rgb(247,244,224);
    background: linear-gradient(0deg, rgba(247,244,224,1) 0%, rgba(225,222,203,1) 100%);
}
.title{
    background: rgb(247,244,224);
    background: linear-gradient(0deg, rgba(247,244,224,1) 0%, rgba(225,222,203,1) 100%);
    text-align: center;
    padding-top: 1%;
}