.container{
    text-align: -webkit-center;
    vertical-align: -webkit-baseline-middle;
    background-color: #ffffff;
    padding: 0 3rem;
    width: auto;

    &__row{
        justify-content: center;

    }
}