.container{
    text-align: -webkit-center;
    vertical-align: -webkit-baseline-middle;
    background-image: url("../../img//Login/BackgroundBlobs.png"); 
    padding: 0 3rem;
    width: auto;
    height: 100vh;
    &__row{
        justify-content: center;
    }
}